@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply text-center;
    @apply justify-center items-center;
  }

  .border-card {
    @apply flex items-center gap-3 text-primary text-sm font-medium border px-4 rounded-xl border-primary  h-6;
    @apply hover:bg-primary hover:text-white ease-in-out duration-300;
  }

  .hover-parent:hover > h1 {
    color: white;
  }

  .selector-box {
    caret-color: auto;
    appearance: none;
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 1rem auto;
    @apply w-full p-[0.4rem] rounded-md border-2 border-[#E0E6F1];
  }

  .tutor-box {
    @apply border-b-2;
  }

  .tutor-inner-box {
    @apply p-4;
  }
}
